<div class="container-fluid" data-aos="fade-in">
    <div class="row justify-content-md-start">
        <div class="col-12 d-block-text">
            <div>
                <h2 class="p-section">About</h2>
                <h2 class="title t-italic">Pula Nala</h2>

                <div class="d-block-overflow">
                    
                    <p>The Lodge has plenty of activities for you to enjoy even more your time in North West. Gastronomic
                        pop-up, sunny rooftop terrace, fantastic rooms, live music, sweet treats, walking distance to
                        almost everything, and friendly staff to attend all your needs.</p>
                </div>
                <div class="bg-text-white"></div>

                <div class="svg-wrapper c1-effect-1">

                </div>

            </div>
        </div>
        <div class="col-md-10 d-block-img">
            <picture>
                <img width="1086" height="760" class="lazy img-fluid w-100"
                    data-src="https://www.hotelpalacebarcelona.com/assets/themes/www.hotelpalacebarcelona.com/img/contenttextimg/Rooftop-Garden-Piscina-Hotel-El-Palace-Barcelona.thigh.jpg"
                    alt="Summer in Barcelona - Hotel El Palace Barcelona"
                    title="Summer in Barcelona - Hotel El Palace Barcelona">
            </picture>
        </div>
    </div>
</div>