.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.firebaseui-idp-button.mdl-button.mdl-js-button.mdl-button--raised.firebaseui-idp-password.firebaseui-id-idp-button {
  background-color: #9A8D7A !important;
}