<div class="container-fluid" data-aos="fade-in">
    <div class="row justify-content-md-start">
        <div class="col-12 d-block-text">
            <div>
                <h2 class="p-section">About</h2>
                <h2 class="title t-italic">Pula Nala</h2>

                <div class="d-block-overflow">

                    <p>
                        Pula Nala Lodge is in an exclusive-use zone within the Phokeng, North West.
                        This lovely lodge offers stunning views from every suite. Also, there is a wide range
                        of activities available in this area near. Furthermore, an
                        conferance meeting room.
                    </p>
                </div>
                <div class="bg-text-white"></div>

                <div class="svg-wrapper c1-effect-1">

                </div>

            </div>
        </div>
        <div class="col-md-10 d-block-img">
            <picture>
                <img width="1086" height="760" class="lazy img-fluid w-100"
                    src="../../../../assets/img/bg_image.jpg"
                    alt="Summer in Barcelona - Hotel El Palace Barcelona"
                    title="Summer in Barcelona - Hotel El Palace Barcelona">
            </picture>
        </div>
    </div>
</div>