
<mat-dialog-content>
    <div class="main"
        data-vertical-center="true">
        <div class="mt-4"
            style="font-size: 59px; line-height: 60px;">
<!--            <p><em>Say hello to</em></p>-->
            <p class="title"><strong>Register Online - <br/>
                Pula Nala | Lodge</strong></p>
        </div>
        <div class="thn--tool-text thn--tool-steps__step-component" 
            data-module-id="01HF98KRWVWYQF7AGH2BS7CS9Z" has-extra-steps="" style="font-size: 18px; line-height: 22px;">
            <p>Save up to <span class="title">30%</span> off</p>
            <p>Get exclusive discounts by booking on our website</p>
        </div>
        <div class="thn--tool-text thn--tool-steps__step-component mt-4"
             style="font-size: 13px; line-height: 22px;">
            <small><em>* Valid for bookings made before December 17th.</em></small>
        </div>

    </div>
</mat-dialog-content>
<mat-dialog-actions>

    <button tabindex="-1" mat-flat-button class="btn-margin" (click)="cancel()" color="primary">Cancel</button>
    <button tabindex="-1" routerLink='register' mat-flat-button class="btn-margin" (click)="onClose(true)"
        color="primary">
        Register
    </button>
</mat-dialog-actions>
