<div class="container-fluid">
    <div class="row justify-content-center">
        <form id="form-buscador" method="get" action="" target="_blank">
            <!-- <form id="form-buscador" method="get" action="https://booking.hotelpalacebarcelona.com/hotelpalacebarcelona.com/en/availability/" target = "_blank"> -->
            <div class="text-center block-hue">
                <label>
                    <span class="d-none">Number of adults</span>
                    <select id="adults" class="form-control rounded-0" name="adultos">
                        <option value="0">Adults</option>
                        <option value="1">1 adult</option>
                        <option value="2" selected>2 adults</option>
                        <option value="3">3 adults</option>
                        <option value="4">4 adults</option>
                        <option value="5">5 adults</option>
                        <option value="6">6 adults</option>
                        <option value="7">7 adults</option>
                    </select>
                </label>
            </div>
            <div class="block-hr">
                <hr>
            </div>
            <div class="text-center block-ninos">
                <label>
                    <span class="d-none">Number of children</span>
                    <select id="ninos" class="form-control rounded-0" name="ninos">
                        <option value="0">Children</option>
                        <option value="0" selected="">0 children (<12 years)</option>
                        <option value="1">1 child (<12)< /option>
                        <option value="2">2 children (<12)< /option>
                        <option value="3">3 children (<12)< /option>
                        <option value="4">4 children (<12)< /option>
                        <option value="5">5 children (<12)< /option>
                        <option value="6">6 children (<12)< /option>
                    </select>
                </label>
            </div>
            <div class="block-hr">
                <hr>
            </div>
            <div class="text-center block-calendar b-1" data-toggle="modal" data-target="#ModalBuscador">
                <label>
                    <span class="d-none">Arrival</span>
                    <input type="text" id="cal-1" name="datein" class="form-control rounded-0 b-checkin"
                        placeholder="Arrival" value="27-10-2023">
                </label>
            </div>
            <div class="block-hr check-hr">
                <hr>
            </div>
            <div class="text-center block-calendar b-2" data-toggle="modal" data-target="#ModalBuscador">
                <label>
                    <span class="d-none">Departure</span>
                    <input type="text" id="cal-2" name="dateout" class="form-control rounded-0 b-checkout"
                        placeholder="Departure" value="28-10-2023">
                </label>
            </div>
            <div class="block-hr">
                <hr>
            </div>
            <div class="text-center block-promo">
                <input type="text" id="promo" name="prom" class="form-control rounded-0" placeholder="Promocode">
            </div>
            <div class="text-center block-btn">
                <button type="submit" class="box foo">Book now</button>
            </div>
        </form>
    </div>
</div>