<div class="about">

    <h2>Firebase & AngularFire In Depth</h2>

    <img class="course-image mat-elevation-z10"
         src="https://angular-university.s3-us-west-1.amazonaws.com/course-images/firebase-course-1.jpg">


<!--    <button mat-raised-button class="upload-btn" color="primary" (click)="uploadData()"> Populate Database</button>-->

    <button mat-raised-button class="upload-btn" color="primary" (click)="onReadSingleDoc()">Read single doc</button>

    <button mat-raised-button class="upload-btn" color="primary" (click)="onValueChangeDoc()">Read single doc</button>

    <hr/>

    <button mat-raised-button class="upload-btn" color="primary" (click)="onReadAllDocs()">Read all docs</button>

    <button mat-raised-button class="upload-btn" color="primary" (click)="onReadBySeqNo()">Read seqNo equal 1</button>

    <button mat-raised-button class="upload-btn" color="primary" (click)="onReadSequenceLessThan()">Read less than</button>

    <hr/>

    <button mat-raised-button class="upload-btn" color="primary" (click)="onReadCollection()">Read collection</button>


</div>


