<div class="text-right">
    <mat-card-actions class="room-actions">

        <!-- <button mat-button class="mat-raised-button mat-primary">
            VIEW ROOM
        </button> -->
    
        
        <div class="row">
            <!-- <button mat-button class="mat-raised-button mat-accent">
                EDIT
            </button> -->

            <!-- <button mat-mini-fab color="warn"  (click)="onDeleteCourse(room)"> -->
            <button mat-mini-fab color="warn"  class="size">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
                

    </mat-card-actions>
</div>
