<section class="d-content-info no-lines aos-init aos-animate height-top" data-aos="fade-in" data-aos-delay="200">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center d-block-intro">
        <div class="container">

          

          <ng-template #SHOWCONTENT>
            <main>
              <div class="py-5 text-center">

                <h2></h2>
                <!-- <p class="lead">{{room.shortDescription}}</p> -->
              </div>
              <div class="row">
                <div class="col-md-5 col-lg-4">
                  <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Reservation details </span>
                  </h4>



                  <ul class="list-group mb-3">



                    <li class="list-group-item d-flex justify-content-between">
                      <div>
                        <h6 class="my-0">No person</h6>
                      </div>
                      <span class="">{{booking.isPers}} adult (s)</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between">
                      <div>
                        <h6 class="my-0">Date</h6>
                      </div>
                      <span class="">{{booking.isToday | date }}</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between">
                      <div>
                        <h6 class="my-0">No days</h6>
                      </div>
                      <span class="">{{booking.isDaysNo}} day (s)</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between">
                      <div>
                        <h6 class="my-0">Time</h6>
                      </div>
                      <span class="">{{booking.isTime}}</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between">
                      <div>
                        <h6 class="my-0">Per night / incl breakfast</h6>
                      </div>
                      <span class="">R 950.00</span>
                    </li>


                  </ul>

                  <div>

                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                      <span class="text-primary">Customer details </span>
                    </h4>

                    <ul class="list-group mb-3">

                      <li class="list-group-item d-flex justify-content-between">
                        <div>
                          <h6 class="my-0">Name</h6>
                        </div>
                        <span class="">
                          {{log?.customer?.name}} {{log?.customer?.lastname}}
                        </span>
                      </li>

                      <li class="list-group-item d-flex justify-content-between">
                        <div>
                          <h6 class="my-0">Email</h6>
                        </div>
                        <span class="">{{log?.customer?.email}}</span>
                      </li>

                      <li class="list-group-item d-flex justify-content-between">
                        <div>
                          <h6 class="my-0">Contact</h6>
                        </div>
                        <span class="">{{user?.phoneNumber}} </span>
                      </li>

                    </ul>

                  </div>

                  <div class="card p-2">
                    <div *ngIf="booking" class="thn--tool-text thn--tool-steps__step-component"
                      style="font-size: 59px; line-height: 60px;">
                      <p><em>Total due</em></p>
                      <p><strong> R {{950 * booking.isDaysNo}}.00</strong> </p>
                    </div>
                  </div>

                  <br />

                  <div class="card p-2">
                    <div class="input-group" *ngIf="room?.url">
                      <!-- <input type="text" class="form-control" placeholder="Promo code"> -->
                      <a href="" class="w-100  btn-lg btn-secondary w-100 ">
                        Cancel Booking
                      </a>
                    </div>
                  </div>

                  <div class="card p-2">
                    <div class="input-group" *ngIf="room?.url">

                      <button class="w-100 btn btn-primary btn-lg" type="submit" (click)="complete()">Confirm booking
                      </button>

                    </div>
                  </div>


                </div>


                <div class="col-md-7 col-lg-8">

                  <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Room details </span>
                  </h4>
                  <!-- 
                  {{room|json}} -->

                  <hr class="my-4">

                  <div *ngIf="user else SignInBanner" class="mt-4">
                    <div class="row g-3">
                      <div class="container-fluid">
                        <div class="row">


                          <div class="col">
                            <h1 class="title">{{room?.title}}</h1>
                            <h2 class="title-room"><span class="t-italic">{{room?.longDescription}}</span></h2>

                            <span class="">
                              <img class="img-thumbnail" src="../../../../../assets/img/room_image.jpg" />
                            </span>

                          </div>
                        </div>
                      </div>
                    </div>

                    <hr class="my-4">



                  </div>
                </div>
              </div>
            </main>
          </ng-template>



        </div>

      </div>

      <ng-template #SignInBanner>
        <div class="alert alert-warning">
          Only registered users are permitted to make an online booking.
          <br />
          <a href="./login">
            Register here
          </a>
        </div>
      </ng-template>

      <div class="row mt-4 justify-content-center" *ngIf="loader else SHOWCONTENT">
        <mat-spinner></mat-spinner>
      </div>

    </div>

  </div>
</section>