<div class="container d-block-top" id="newsletter-anchor">
    <div class="row justify-content-center">
        <div class="col-12 text-center d-block-newsletter" data-aos="fade-in" data-aos-delay="200">
            <h2 class="title">You can find us here.</h2>
            <a href="#" class="underline" data-toggle="modal" data-target="#ModalCenterNewsletter">
                <span>Get in touch</span><svg viewBox="0 0 13 20" width="13" height="20">
                    <polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5" />
                </svg>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-block-map p-0">
            <div id="map" class="map-lazy"></div>
        </div>
    </div>
</div>
<div class="container d-block-bottom">
    <div class="row justify-content-center">
        <div class="col-lg-5 d-block-left">
            <ul class="list-unstyled">

                <li><a>Contact</a></li>

            </ul>

            <p>
                <a>Legal notice</a>
                · <a>Privacy policy</a>
                · <a>Cookies policy</a>
            </p>

            <p> <a>Partnership</a> </p>

        </div>

        <div class="col-lg-2 d-block-logo text-center">
            <!-- <img height="56" width="124"
                data-src="https://www.hotelpalacebarcelona.com/assets/themes/www.hotelpalacebarcelona.com/uploads/img/footer/The_Leading_Hotels_of_the_World_logo.svg"
                alt="The Leading Hotels of the World" title="The Leading Hotels of the World" class="lazy mb-3" src="">
            <img height="56" width="124"
                data-src="https://www.hotelpalacebarcelona.com/assets/themes/www.hotelpalacebarcelona.com/uploads/img/footer/GBAC-Hotel-El-Palace-Barcelona.tlowest.png"
                alt="Global Biorisk  Advisory Council" title="Global Biorisk  Advisory Council" class="lazy mb-3"
                src="">
            <img height="56" width="124"
                data-src="https://www.hotelpalacebarcelona.com/assets/themes/www.hotelpalacebarcelona.com/uploads/img/footer/Conde-Nast-Traveler-GOLD-LIST-2023.tlowest.png"
                alt="Conde Nast Traveler Gold List 2023" title="Conde Nast Traveler Gold List 2023" class="lazy mb-3"
                src=""> -->
        </div>

        <div class="col-lg-5 d-block-right">
            <p>© 2023 Pula Nala Lodge</p>
            <p>Phokeng, North West</p>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal modal-newsletter fade" id="ModalCenterNewsletter" tabindex="-1" role="dialog"
    aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <p class="close-modal" data-dismiss="modal">X</p>
            <h3 class="title">Get in touch</h3>
            <div class="col-12"></div>
            <form action="" id="mc-embedded-subscribe-form" method="post" class="" accept-charset="utf-8">



            </form>
        </div>
    </div>
</div>