<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <p class="p-section">HOT OFF </p>
            <h2 class="title">Social media</h2>
        </div>

        <div class="col-6 col-md-3 instagram" data-aos="fade-in">
            <picture>
                <source data-srcset="../../../assets/insta/Amar_barcelona_restaurant_H0.thigh.jpg" type="image/webp">
                <img width="255" height="285" class="img-fluid w-100 lazy"
                    data-src="../../../assets/insta/Amar_barcelona_restaurant_H0.thigh.jpg" alt="Instagram">
            </picture>
        </div>

        <div class="col-6 col-md-3 instagram" data-aos="fade-in">
            <picture>
                <source data-srcset="../../../assets/insta/Amar_barcelona_restaurant_H0.thigh.jpg" type="image/webp">
                <img width="255" height="285" class="img-fluid w-100 lazy"
                    data-src="../../../assets/insta/Amar_barcelona_restaurant_H0.thigh.jpg" alt="Instagram">
            </picture>
        </div>

        <div class="col-6 col-md-3 instagram" data-aos="fade-in">
            <picture>
                <source data-srcset="../../../assets/insta/Amar_barcelona_restaurant_H0.thigh.jpg" type="image/webp">
                <img width="255" height="285" class="img-fluid w-100 lazy"
                    data-src="../../../assets/insta/Amar_barcelona_restaurant_H0.thigh.jpg" alt="Instagram">
            </picture>
        </div>

        <div class="col-6 col-md-3 instagram" data-aos="fade-in">
            <picture>
                <source data-srcset="../../../assets/insta/Amar_barcelona_restaurant_H0.thigh.jpg" type="image/webp">
                <img width="255" height="285" class="img-fluid w-100 lazy"
                    data-src="../../../assets/insta/Amar_barcelona_restaurant_H0.thigh.jpg" alt="Instagram">
            </picture>
        </div>

        <div class="col-12 text-center d-block-bottom">
            Follow us
            <p>
                <a target="_blank" rel="noopener">
                    <img width="30" height="30" class="lazy" data-src="../../../assets/icon/instagram-circle-gold.svg"
                        alt="Instagram Lodge Pula Nala" title="Instagram Lodge Pula Nala"
                        src="../../../assets/icon/instagram-circle-gold.svg"></a>
                <a href="https://es-es.facebook.com/elpalacebarcelona" target="_blank" rel="noopener">
                    <img width="30" height="30" class="lazy" data-src="../../../assets/icon/facebook-circle-gold.svg"
                        alt="Facebook Lodge Pula Nala" title="Facebook Lodge Pula Nala"
                        src="../../../assets/icon/facebook-circle-gold.svg"></a>
            </p>
        </div>
    </div>
</div>