<section class="d-hero lazy" data-bg="">
    <app-video-background></app-video-background>
</section>

<section class="d-content-search">
    <app-booking-tile></app-booking-tile>
</section>

<!-- <div class="d-block-reservation">
    <app-block-reservation></app-block-reservation>
</div> -->
<section id="schedule" class="d-slider">
    <app-block-schedule></app-block-schedule>
</section>

<section class="d-content-text-img bg-grey">
    <app-welcome-story></app-welcome-story>
</section>

<section class="d-slider-gastronomy">
    <!-- <div class="text-right">
        <app-admin-tool-bar 
            [sectionContentType]="'app-carousel-cells'" 
            [canAdd]="true" 
            [canView]="true" 
            [canDelete]="true"
            [canEdit]="true">
        </app-admin-tool-bar>
    </div> -->
<app-carousel-cells></app-carousel-cells>
</section>