<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 d-block-top">
            <h3 class="title">WHAT IS HAPPENING AT THE PULA NALA LODGE?</h3>
        </div>

        <div class="col-12 d-block-line num-3" data-line-id="13">
            <div class="row justify-content-center">
                <div class="col-12 p-0">
                    <hr>
                </div>

                <div class="col-5 block-point-initial">
                    <img height="17" width="37" src="../../../assets/logo/point.svg" alt="punto inicial">
                </div>

                <div class="col-7 block-points">

                    <div class="point-2">
                        <img height="3" width="23" src="../../../assets/logo/point-mini.svg" alt="punto">
                        <p class="counter">10:00 a.m.</p>
                        <p class="name">Yoga session overlooking Barcelona</p>
                    </div>

                    <div class="point-3">
                        <img height="3" width="23" src="../../../assets/logo/point-mini.svg" alt="punto">
                        <p class="counter">10:00 a.m.</p>
                        <p class="name">Haute couture fashion expo</p>
                    </div>
                    
                    <div class="point-4">
                        <img height="3" width="23" src="../../../assets/logo/point-mini.svg" alt="punto">
                        <p class="counter">12:00 a.m.</p>
                        <p class="name">Lazy Weekends</p>
                    </div>
                                            <div class="point-5">
                        <img height="3" width="23" src="../../../assets/logo/point-mini.svg" alt="punto">
                        <p class="counter">1:00 p.m.</p>
                        <p class="name">Gastro-Hall All day</p>
                    </div>
                                            <div class="point-6">
                        <img height="3" width="23" src="../../../assets/logo/point-mini.svg" alt="punto">
                        <p class="counter">02:00 p.m.</p>
                        <p class="name">L'Arròs pop-up</p>
                    </div>
                                            <div class="point-7">
                        <img height="3" width="23" src="../../../assets/logo/point-mini.svg" alt="punto">
                        <p class="counter">3:00 p.m.</p>
                        <p class="name">Unwind at the Mayan Luxury Spa</p>
                    </div>
                                            <div class="point-8">
                        <img height="3" width="23" src="../../../assets/logo/point-mini.svg" alt="punto">
                        <p class="counter">4:00 p.m.</p>
                        <p class="name">Sweet treats Cake & Bubbles</p>
                    </div>
                    
                    <div class="point-9">
                        <img height="3" width="23" src="../../../assets/logo/point-mini.svg" alt="punto">
                        <p class="counter">5.00 p.m.</p>
                        <p class="name">Afternoon tea in the historic hall</p>
                    </div>
                    
                    <div class="point-10">
                        <img height="3" width="23" src="../../../assets/logo/point-mini.svg" alt="punto">
                        <p class="counter">7:00 p.m.</p>
                        <p class="name">In a mood to ask for your favorite?</p>
                    </div>
                    
                    <div class="point-11">
                        <img height="3" width="23" src="../../../assets/logo/point-mini.svg" alt="punto">
                        <p class="counter">8:00 p.m.</p>
                        <p class="name">One Man Show</p>
                    </div>
                    
                    <div class="point-12">
                        <img height="3" width="23" src="../../../assets/logo/point-mini.svg" alt="punto">
                        <p class="counter">9:30 p.m.</p>
                        <p class="name">Watch a film in the open-air cinema</p>
                    </div>
                    
                    <div class="point-13">
                        <img height="3" width="23" src="../../../assets/logo/point-mini.svg" alt="punto">
                        <p class="counter">11:00 p.m.</p>
                        <p class="name">The best Live Music</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-12 d-block-slider" data-aos="fade-in">
            <div class="carousel-slider">

                <!-- carousel-cell 1 -->
                <div class="carousel-cell carousel-1 is-initial-select" data-text-id="A delicious breakfast @ Pula Nala"
                    data-num-id="1" data-time-id="8:00 a.m.">
                    <div class="row">

                        <!-- Description -->
                        <div class="col-md-5 col-lg-6 d-block-text">
                            <p class="counter">8:00 a.m.</p>
                            <hr>
                            <h2 class="title">A delicious <span>breakfast @ Pula Nala</span></h2>
                            <p>
                            <p>An indoor garden, where breakfast is served daily, has a touch of Paris to it with its
                                black and white colour scheme and wrought iron touches. Our waiting staff would love to
                                serve you a healthy and delicious breakfast, with international and local specialities.
                            </p>

                            <!-- book -->
                            <app-book-button></app-book-button>

                        </div>

                        <!-- Picture -->
                        <div class="col-md-6 col-lg-4 d-block-img img-1">

                            <source srcset="../../../assets/scheduling/Desayuno-El-Palace-BarcelonaPXL.webp"
                                type="image/webp">
                            <img src="../../../assets/scheduling/Desayuno-El-Palace-BarcelonaPXL.tmedium.jpg"
                                class="lazy img-fluid w-100" alt="A delicious breakfast @ Pula Nala"
                                title="A delicious breakfast @ Pula Nala" loading="lazy">

                        </div>

                        <div class="d-block-cursor-left"></div>
                        <div class="d-block-cursor-right"></div>
                    </div>
                </div>

                <!-- carousel-cell 2 -->
                <div class="carousel-cell carousel-2" data-text-id="Superior Room" data-num-id="2">
                    <div class="row">
                        <div class="col-md-6 col-lg-7 d-block-text">
                            <p class="counter"><span>2</span>/5</p>
                            <h2 class="title">
                                <a>Superior Room</a>
                            </h2>
                            <p>Located in the upper floors of the hotel, these 38 m2 rooms make the most out the hotel’s
                                location in the heart of Barcelona, offering a stunning view of either the Sagrada
                                Família or Tibidabo.</p>
                            <!-- book -->
                            <app-book-button></app-book-button>

                        </div>

                        <!-- Picture -->
                        <div class="col-md-6 col-lg-4 d-block-img img-1">
                            <picture>
                                <img width="614" height="340"
                                    data-src="../../../assets/scheduling/Afternoon_Tea_OptPXL.tmedium.jpg"
                                    alt="Superior Room" title="Superior Room" class="lazy img-fluid w-100" src="">
                            </picture>
                        </div>

                        <div class="d-block-cursor-left"></div>
                        <div class="d-block-cursor-right"></div>
                    </div>

                </div>

                <!-- carousel-cell 3 -->
                <div class="carousel-cell carousel-3" data-text-id="Junior Suite" data-num-id="3">
                    <div class="row">
                        <div class="col-md-6 col-lg-7 d-block-text">
                            <p class="counter"><span>3</span>/5</p>
                            <h2 class="title">
                                <a href="../../../assets/rooms-suites/junior-suite">Junior
                                    Suite</a>
                            </h2>
                            <p>Looking out over an interior patio, these peaceful suites offer visitors the comfort they
                                need with a combined bedroom and lounge dressed in timeless elegance.</p>
                            <!-- book -->
                            <app-book-button></app-book-button>
                            
                        </div>

                        <!-- Picture -->
                        <div class="col-md-6 col-lg-4 d-block-img img-1">
                            <picture>
                                <img width="614" height="340"
                                    data-src="../../../assets/scheduling/Bar-El-Gran-Hall-Hotel-El-Palace-BarcelonaPXL.tmedium.jpg"
                                    alt="Superior Room" title="Superior Room" class="lazy img-fluid w-100">
                            </picture>
                        </div>

                        <div class="d-block-cursor-left"></div>
                        <div class="d-block-cursor-right"></div>
                    </div>
                </div>

                <!-- carousel-cell 4 -->
                <div class="carousel-cell carousel-4" data-text-id="Superior Suite" data-num-id="4">
                    <div class="row">
                        <div class="col-md-6 col-lg-7 d-block-text">
                            <p class="counter"><span>4</span>/5</p>
                            <h2 class="title">
                                <a href="https://www.hotelpalacebarcelona.com/rooms-suites/superior-suite">Superior
                                    Suite</a>
                            </h2>
                            <p>Enjoy 55 m2 of tranquillity in these completely renovated suites. Elegance and comfort
                                mesh beautifully here in the form of a fully equipped sitting room and a luxurious
                                bedroom.</p>
                            <!-- book -->
                            <app-book-button></app-book-button>

                        </div>

                        <!-- Picture -->
                        <div class="col-md-6 col-lg-4 d-block-img img-1">
                            <picture>
                                <img width="614" height="340"
                                    data-src="../../../assets/scheduling/Fabrizio-Paparello-Pianista-Hotel-El-Palace-BarcelonaPXL.tmedium.jpg"
                                    alt="Superior Room" title="Superior Room" class="lazy img-fluid w-100">
                            </picture>
                        </div>

                        <div class="d-block-cursor-left"></div>
                        <div class="d-block-cursor-right"></div>
                    </div>
                </div>

                <!-- carousel-cell 4 -->
                <div class="carousel-cell carousel-5" data-text-id="Family Suite" data-num-id="5">
                    <div class="row">
                        <div class="col-md-6 col-lg-7 d-block-text">
                            <p class="counter"><span>5</span>/5</p>
                            <h2 class="title">
                                <a href="../../../assets/rooms-suites/family-suite.jpg">
                                    Family
                                    Suite
                                </a>
                            </h2>
                            <p>Travelling as a family has never been so luxurious. 3 separate sleeping spaces are joined
                                by a central hallway and one main entrance to allow groups to be independent, but stay
                                all together.</p>
                            <!-- book -->
                            <app-book-button></app-book-button>
                        </div>

                        <!-- Picture -->
                        <div class="col-md-6 col-lg-4 d-block-img img-1">
                            <picture>
                                <img width="614" height="340"
                                    data-src="../../../assets/scheduling/L-arros-Rooftop-Garden-Hotel-El-Palace-BarcelonaV.tmedium.jpg"
                                    alt="Superior Room" title="Superior Room" class="lazy img-fluid w-100">
                            </picture>
                        </div>

                        <div class="d-block-cursor-left"></div>
                        <div class="d-block-cursor-right"></div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <img class="lazy d-sm-none swip-icon" data-src="../../../assets/img/icons/flecha.svg" alt="swip" src="">