<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 d-block-top">
            <h3 class="title">THINGS TO DO?</h3>
        </div>

        <div class="col-12 d-block-line num-3" data-line-id="13">
            <div class="row justify-content-center">
                <div class="col-12 p-0">
                    <hr>
                </div>

                <div class="col-5 block-point-initial">
                    <img height="17" width="37" src="../../../assets/logo/point.svg" alt="punto inicial">
                </div>

                <div class="col-7 block-points">

                    <div class="point-1">
                        <img height="3" width="23" src="../../../assets/logo/point-mini.svg" alt="punto">
                        <p class="counter">25-30 min/away </p>
                        <p class="name">Sun City Hotel And Casino</p>
                    </div>

                    <div class="point-2">
                        <img height="3" width="23" src="../../../assets/logo/point-mini.svg" alt="punto">
                        <p class="counter">35-40 min/away</p>
                        <p class="name">Pilanesberg National Park </p>
                    </div>

                    <div class="point-3">
                        <img height="3" width="23" src="../../../assets/logo/point-mini.svg" alt="punto">
                        <p class="counter">10 min/away</p>
                        <p class="name">ROYAL BAFOKENG STADIUM </p>
                    </div>
                    
                

                </div>
            </div>
        </div>

        <div class="col-12 d-block-slider" data-aos="fade-in">
            <div class="carousel-slider">

                <!-- carousel-cell 1 -->
                <div class="carousel-cell carousel-1 is-initial-select" data-text-id="point-1"
                    data-num-id="1" data-time-id="8:00 a.m.">
                    <div class="row">

                        <!-- Description -->
                        <div class="col-md-5 col-lg-6 d-block-text">
                            <small class="counter">25-30 min/away</small>
                            <hr>
                            <h2 class="title">Sun City Hotel And Casino</h2>
                            <p>
                            <p>
                                Often referred to as the Main Hotel, the Sun City Hotel and Casino was the first hotel to be built on the resort. This 4-star Sun City accommodation is located right at the heart of Sun City, and is central to all the activities and things to do at the resort.

Top reasons to stay at Sun City Hotel and Casino:
                            </p>

                            <!-- book -->
                            <app-book-button></app-book-button>

                        </div>

                        <!-- Picture -->
                        <div class="col-md-6 col-lg-4 d-block-img img-1">

                            <source srcset="../../../assets/scheduling/sun-city.jpg"
                                type="image/webp">
                            <img src="../../../assets/scheduling/sun-city.jpg"
                                class="lazy img-fluid w-100" alt="A delicious breakfast @ Pula Nala"
                                title="A delicious breakfast @ Pula Nala" loading="lazy">

                        </div>

                        <div class="d-block-cursor-left"></div>
                        <div class="d-block-cursor-right"></div>
                    </div>
                </div>

                <!-- carousel-cell 2 -->
                <div class="carousel-cell carousel-2 is-initial-select" data-text-id="point-2"
                    data-num-id="1" data-time-id="8:00 a.m.">
                    <div class="row">

                        <!-- Description -->
                        <div class="col-md-5 col-lg-6 d-block-text">
                            <small class="counter">35-40 min/away</small>
                            <hr>
                            <h2 class="title">Pilanesberg National Park</h2>
                            <p>
                            <p>
                                Among Southern Africa’s fascinating game reserves, Pilanesberg National Park is possibly the most accessible. Situated in the ecologically rich transition zone between the Kalahari and the Lowveld, this vast area promises thrilling big game viewing in a malaria free environment. A wide variety of accommodation is available to suit your needs.
                            </p>

                            <!-- book -->
                            <app-book-button></app-book-button>

                        </div>

                        <!-- Picture -->
                        <div class="col-md-6 col-lg-4 d-block-img img-1">

                            <source srcset="../../../assets/scheduling/Pilanesberg.jpg"
                                type="image/webp">
                            <img src="../../../assets/scheduling/Pilanesberg.jpg"
                                class="lazy img-fluid w-100" alt="A delicious breakfast @ Pula Nala"
                                title="A delicious breakfast @ Pula Nala" loading="lazy">

                        </div>

                        <div class="d-block-cursor-left"></div>
                        <div class="d-block-cursor-right"></div>
                    </div>
                </div>

                <!-- carousel-cell 3 -->
                <div class="carousel-cell carousel-3 is-initial-select" data-text-id="point-3"
                    data-num-id="1" data-time-id="8:00 a.m.">
                    <div class="row">

                        <!-- Description -->
                        <div class="col-md-5 col-lg-6 d-block-text">
                            <small class="counter">10 min/away</small>
                            <hr>
                            <h2 class="title">ROYAL BAFOKENG STADIUM</h2>
                            <p>
                            <p>
                                Formally known as the Royal Bafokeng Sports Palace, this stadium is situated in Rustenburg, which is a charming town at the foot of the Magaliesberg Mountain Range in the North West Province. This stadium was first built in 1999, but underwent renovations in preparation for the 2010 FIFA World Cup™, hosted by South Africa.
                            </p>

                            <!-- book -->
                            <app-book-button></app-book-button>

                        </div>

                        <!-- Picture -->
                        <div class="col-md-6 col-lg-4 d-block-img img-1">

                            <source srcset="../../../assets/scheduling/bafokeng.jpg"
                                type="image/webp">
                            <img src="../../../assets/scheduling/bafokeng.jpg"
                                class="lazy img-fluid w-100" alt="A delicious breakfast @ Pula Nala"
                                title="A delicious breakfast @ Pula Nala" loading="lazy">

                        </div>

                        <div class="d-block-cursor-left"></div>
                        <div class="d-block-cursor-right"></div>
                    </div>
                </div>

            



            </div>
        </div>
    </div>
    <img  class="lazy d-sm-none swip-icon" data-src="../../../../assets/icons/Flecha.svg" alt="swip" src="">