
    <nav class="navbar">
        <div class="container-fluid">
            <ul class="nav navbar-nav icons">
                <li>
                    <a href="" target="_blank" rel="noopener">
                        <img height="25" width="25" src="../../../assets/icon/instagram-circle-gold.svg"
                            alt="Instagram Pula Nala Lodge"></a>
                </li>
                <li>
                    <a href="" target="_blank" rel="noopener">
                        <img height="25" width="25" src="../../../assets/icon/facebook-circle-gold.svg"
                            alt="Facebook Pula Nala Lodge"></a>
                </li>
            </ul>
            <ul class="nav navbar-nav logo">
                <li>
                    <a href="">
                        <img height="auto" width="220" class="lazy" data-src="../../../assets/logo/logo-web-gold.svg"
                            src="" alt="Pula Nala Lodge" title="Pula Nala Lodge">
                    </a>
                </li>
            </ul>
            <ul id="menu-toggle" class="nav navbar-nav">
                <li><a href="">Contact</a></li>

                <hr>
                <li class="burger-icon">
                    <p>Menu</p>
                </li>
                <li class="burger-icon-span"><span></span><span></span><span></span></li>
            </ul>
        </div>
    </nav>


<div class="c-menu__col-left"></div>
<div class="c-menu__col-right"></div>
<nav class="site-nav__menu">
    <div class="site-nav__menu-inner text-center">
        <!--<div class="close"><img src="img/icons/icon-close.svg"></div>-->
        <div class="site-nav__main _lazy" data-bg="../../../assets/logo/bg-menu.svg">
            <div class="display-table">
                <div class="display-table-cell">

                    <ul class="list-unstyled menu-expand">
                        <li class="menu-item-1 ">
                            <a href="">The Lodge</a><span></span>
                        </li>
                        <li class="menu-item-2 li-menu-room">
                            <a href="">Rooms & Suites</a><span>
                                <img class="open" src="../../../assets/logo/drop-down-arrow-gold.svg" alt="flecha"
                                    width="30" height="30"></span>
                            <ul class="list-unstyled list-inline menu-expand-item ">
                                <li class="list-inline-item">
                                    <a href="">Conferencing <span>/</span></a>
                                </li>
                                <li class="list-inline-item">
                                    Browse our rooms catelog <br />
                                    <a href="">Selemita<span>,</span></a>
                                    <a href="">Nthabi<span>,</span></a>
                                    <a href="">Tunu<span>,</span></a>
                                    <a href=""> Petros<span>,</span></a>
                                    <a href="">Nancy<span>,</span></a>
                                    <a href="">Punky<span>,</span></a>
                                    <a href="">Pro<span>,</span></a>
                                    <a href="">Elias<span>,</span></a>
                                    <a href="">Sheila<span>,</span></a>
                                    <a href="">Brecil<span>,</span></a>
                                    <a href="">Keledi<span>,</span></a>
                                    <a href="">Orbet<span>,</span></a>
                                    <a href="">Khenkheba<span>,</span></a>
                                    <a href="">Senne <span>,</span></a>
                                    <a href="">Pitsoe<span>,</span></a>

                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-3 ">
                            <a href="">Restaurants & Bars</a><span>
                                <img class="open" src="../../../assets/logo/drop-down-arrow-gold.svg" alt="flecha"
                                    width="30" height="30"></span>
                            <ul class="list-unstyled list-inline menu-expand-item open">
                                <li class="list-inline-item">
                                    <a href="">Food menu <span>/</span></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="">Alchol <span>/</span></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="">Wine list <span>/</span></a>
                                </li>

                            </ul>
                        </li>
                        <!-- <li class="menu-item-4 ">
                            <a href="">Offers & Experiencies</a>
                            <span>
                                <img class="open" src="../../../assets/logo/drop-down-arrow-gold.svg" alt="flecha"
                                width="30" height="30">    
                            </span>
                            
                        </li> -->
                        <li class="menu-item-5 ">
                            <a href="">Christmas 2023</a><span></span>
                        </li>

                        <li class="menu-item-6 ">
                            <a href="">Meetings &  Events</a><span></span>
                        </li>
                        <!-- <li class="menu-item-7 ">
                            <a href="">Mayan Luxury  Spa</a><span></span>
                        </li> -->
                    </ul>

                    <ul class="list-unstyled site-nav__main_bottom">
                        <li class="block-legal">
                            <a class="" href="">Contact</a>
                            <hr>
                            <a class="" href="">Gallery</a>
                            <hr>
                            <a class="" href="">Gift Vouchers</a>
                            <hr>
                            <a class="" href="">Press Releases</a>
                            <hr>
                            <a class="" href="">Partnership</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>